<?xml version="1.0" encoding="UTF-8"?>
<svg width="48px" height="36px" viewBox="0 0 48 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Arrow/Read more</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="CASE-DETAIL-DESK" transform="translate(-1240.000000, -1921.000000)" fill="#FFFFFF">
            <g id="Pagination" transform="translate(0.000000, 1808.000000)">
                <g id="Arrow/Read-more" transform="translate(1240.000000, 113.000000)">
                    <g id="Read-more-arrow" transform="translate(24.000000, 18.000000) rotate(-90.000000) translate(-24.000000, -18.000000) translate(6.000000, -6.000000)">
                        <polygon id="ar" fill-rule="nonzero" points="18 35.26 27 26.26 24.876 24.136 18 31.048 11.124 24.136 9 26.26"></polygon>
                        <circle id="Oval-4-Copy" cx="18" cy="3" r="3"></circle>
                        <circle id="Oval-4-Copy-2" cx="18" cy="15" r="3"></circle>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>