$orange: #FB9726;
$darkblue: #00407A;
$green: #BFB800;
$blue: #00BDE6;
$lightgrey: #EAEEF2;
$grey: #6E7C7C;
$lightergrey: #E6E9EC;

$lime: #BFB800;
$iceblue: #00BDE6;
$gray: #6E7C7C;

$mediumgrey: $grey;